{% extends 'base.html' %}

{% block content %}
<h2>Prayer Planner & Journal</h2>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>

    <a href="{% url 'prayers:index' %}">Start praying</a>
{% else %}
    Welcome to the prayer planner! Prayer is one of the wonderful privileges afforded to a Christian. In its essence, prayer is talking to the sovereign, compassionate God of the universe. What a privilege!

    <br><br>

    The goal of this website is to help you make prayer a habit. You can read more about the motivation for this plan <a href="https://bible.hightower.space/posts/prayer-plan/">here</a>. This plan acts like a Bible reading plan in that it provides you a systematic plan for praying consistently, effectively, and guided by Scripture. If this sounds like something you are interested in, you can <a href="{% url 'accounts:register' %}">register for an account</a>.

    <br><br>

    If you have any questions, feel free to <a href="https://hightower.space/contact/">contact me</a>.
{% endif %}

<br><br><hr><br>

<i>"Pour out your heart before Him; God is a refuge for us."</i><br>
~ King David

<br><br>

<i>"With all prayer and petition pray at all times in the Spirit, and with this in view, be on the alert with all perseverance and petition for all the saints..."</i><br>
~ The Apostle Paul

<br><br>

<i>"To be a Christian without prayer is no more possible than to be alive without breathing."</i><br>
~ Martin Luther

{% endblock %}
