{% extends 'base.html' %}

{% block content %}
<h2>My Prayers</h2>

<div class="float-right">
    {{ bible_passage.reference }}
    <br>
    {{ bible_passage.text }}
    <br>
    {{ bible_passage.note }}
</div>

{% if prayer_requests %}
        {% for day in days %}
            {% if prayer_requests|get_item:day %}
                <h3 id="{{day}}">{{ day }}</h3>
                <ul>
                    {% for request in prayer_requests|get_item:day %}
                        <li id="{{request.id}}" style="list-style-type: none;"><input type="checkbox" onclick="completeRequest({{request.id}})"> &nbsp;&nbsp;<a href="{% url 'prayers:details' request.id %}">{{ request.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
{% endif %}

<a class="button secondary" href="{% url 'prayers:multi_create' %}">Add multiple requests</a>
<a class="button" href="{% url 'prayers:create_request' %}">Add a new prayer request</a>

<script>
    function completeRequest(element_id) {
        /* When a task is marked as done, change it's display to strike-through. */
        var checkBoxChecked = $('#' + element_id + ' input')
            [0].checked;

        if (checkBoxChecked) {
            $('#' + element_id + ' a').css('text-decoration', 'line-through');
        } else {
            $('#' + element_id + ' a').css('text-decoration', 'inherit');
        }
    }
</script>
{% endblock %}
