{% extends 'base.html' %}

{% block content %}
<h2>Add Prayer Items</h2>

<form method="post" id="multiCreateForm">{% csrf_token %}
    {{ form.as_p }}
    <div v-for="entry in entries">
        <div class="columns large-6">
            <input type="text" name="title" placeholder="Enter a title for the prayer item...">
        </div>
        <div class="columns large-6">
            <select name="dayOfWeek" v-on:change="entries.push('a')">
                <option value="">---------</option>
                <option value="Mon">Monday</option>
                <option value="Tues">Tuesday</option>
                <option value="Wed">Wednesday</option>
                <option value="Thus">Thursday</option>
                <option value="Fri">Friday</option>
                <option value="Sat">Saturday</option>
                <option value="Sun">Sunday</option>
            </select>
        </div>
    </div>

    <br>
    <a class="button secondary" href="{% url 'prayers:index' %}">Cancel</a>
    <input class="button" type="submit" value="Save" />
</form>

<script>
    window.setTimeout(function() {
        $('input')[0].focus();

        var multiCreate = new Vue({
            delimiters:['${', '}'],
            el: "#multiCreateForm",
            data: {
                entries: ['a']
            }
        });
    }, 100);
</script>
{% endblock %}
