{% extends 'base.html' %}

{% block content %}
<h2><i>{{ object.day }}</i>: {{ object.title }} &nbsp;<a href="{% url 'prayers:update_request' object.id %}" title="Update prayer item"><i class="fa fa-edit" style="font-size:.70em;"></i></a>
<!-- &nbsp;<a onclick="confirmPrayerDeletion()" title="Delete prayer item"><i class="fa fa-trash" style="font-size:.70em;"></i></a> -->
&nbsp;<a href="{% url 'prayers:delete_request' object.id %}" title="Delete prayer item"><i class="fa fa-trash" style="font-size:.70em;"></i></a>
</h2>

{% if object.description %}
    <p>{{ object.description|linebreaks }}</p>
{% else %}
    <p><i>No description yet... but you can <a href="{% url 'prayers:update_request' object.id %}" title="Update prayer item">add one</a>.</i></p>
{% endif %}

{% if object.journalentry_set.all %}
    <h3>Journal Entries</h3>

    <ul>
        {% for entry in object.journalentry_set.all %}
            <li>
                <a data-open="journalModal{{ entry.id }}"><i>{{ entry.date_created|date:"F d, Y (G:i)" }}:</i></a> {{ entry.text|truncatewords:25 }} &nbsp;<a href="{% url 'prayers:update_journal' prayer_item_pk=object.id pk=entry.id %}" title="Update journal entry"><i class="fa fa-edit"></i></a>
                <!-- &nbsp;<a onclick="confirmJournal{{entry.id}}Deletion()" title="Delete journal entry"><i class="fa fa-trash"></i></a> -->
                &nbsp;<a href="{% url 'prayers:delete_journal' prayer_item_pk=object.id pk=entry.id %}" title="Delete journal entry"><i class="fa fa-trash"></i></a>

<!--                 <script>
                    function confirmJournal{{entry.id}}Deletion() {
                        var confirmation = confirm("Are you sure you want to delete this journal entry?");
                        if (confirmation) {
                            window.location = "{% url 'prayers:delete_journal' prayer_item_pk=object.id pk=entry.id %}";
                        } else {
                            return;
                        }
                    }
                </script> -->

                <div class="reveal" id="journalModal{{ entry.id }}" data-reveal>
                    <h3>Journal Entry from {{ entry.date_created }}</h3>
                    <p>{{ entry.text }}</p>
                    <p><a href="{% url 'prayers:update_journal' prayer_item_pk=object.id pk=entry.id %}" title="Update journal entry">Update journal entry</a>
                    <br>
                    <a onclick="confirmJournal{{ entry.id }}Deletion()" title="Delete journal entry">Delete journal entry</a></p>
                    <button class="close-button" data-close aria-label="Close reveal" type="button" style="background-color: white;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<br><br><br>

<a href="{% url 'prayers:create_journal' object.id %}" style="text-decoration: underline;">Add a journal entry/update</a><br>

<a href="{% url 'prayers:index' %}" style="text-decoration: underline;">Return to view all prayer items</a>

<script>
    window.setTimeout(function() {
        $(document).foundation();
    }, 100);

    // function confirmPrayerDeletion() {
    //     var confirmation = confirm("Are you sure you want to delete this prayer item?");
    //     if (confirmation) {
    //         window.location = '{% url "prayers:delete_request" object.id %}';
    //     } else {
    //         return;
    //     }
    // }
</script>

{% endblock %}
