{% extends 'base.html' %}

{% block content %}
<h2><i>{{ object.day }}</i>: {{ object.title }} &nbsp;<a href="{% url 'prayers:update_request' object.id %}"><i class="fa fa-edit" style="font-size:.70em;"></i></a></h2>

<!-- TODO: make sure this is displaying newlines properly -->
<p>{{ object.description }}</p>
<!-- TODO: if no description, add a link to add a description -->

{% if object.journalentry_set.all %}
    <h3>Journal Entries</h3>

    <ul>
        {% for entry in object.journalentry_set.all %}
            <li>
                <i>{{ entry.date_created|date:"F d, Y" }}:</i> {{ entry.text|truncatewords:25 }} &nbsp;<a href="{% url 'prayers:update_journal' prayer_item_pk=object.id pk=entry.id %}"><i class="fa fa-edit"></i></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'prayers:create_journal' object.id %}">Add a journal entry</a><br>

<a href="{% url 'prayers:index' %}">Return to view all prayer items</a>

<script>
    window.setTimeout(function() {
        $(document).foundation();
    }, 100);
</script>

{% endblock %}
