<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>Prayer Planner/Journal</title>
        <!-- TODO: add more details here (3) -->
        <meta name="description" content="">
        <meta name="author" content="Floyd Hightower">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
        {% load static %}
        <link rel="stylesheet" href='{% static "styles.css" %}'>
    </head>
    <body style="background-color: #f8f8f7;">
        <div class="top-bar" style="background-color: #0072CE; box-shadow: 0px 1px 4px #777777;">
            <div class="top-bar-left">
                <a href="{% url 'index' %}" style="color: #f8f8f7;"><b>Prayer Planner and Journal</b></a>
            </div>
            <div class="top-bar-right">
                <a href="{% url 'about' %}" style="color: #f8f8f7; padding-right: 1.5em;">About</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'prayers:index' %}" style="color: #f8f8f7; padding-right: 1.5em;">My Prayers</a>
                    <a href="{% url 'accounts:profile' %}" style="color: #f8f8f7; padding-right: 1.5em;">My Profile</a>
                    <a href="{% url 'accounts:logout' %}" style="color: #f8f8f7; padding-right: 1.5em;">Logout</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" style="color: #f8f8f7; padding-right: 1.5em;">Login/Register</a>
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="large-12 medium-12 small-12 mainContent">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.js"></script>
    </body>
</html>